<h1>Edit Designer</h1>

<%= form_for @user, url: "/users/#{@user.id}" do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :skills %>
    <%= f.text_field :skills %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.date_field :email %>
  </p>
  <%= f.submit %>
<% end %>
