<h1>Create a new Designer</h1>

<!--
Secure - authenticity tokens
Reusable
Easier to add prefilled values
-->

<%= form_for @user do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :location %>
    <%= f.text_field :location %>
  </p>
  <p>
    <%= f.label :skills %>
    <%= f.text_field :skills %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  <%= f.submit %>
<% end %>
