<%= form_for @project do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.date_field :date, required: true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <%= f.submit %>
<% end %>
