<div class="container">
  <div class="row">
    <div class="col s12 #ffffff white">

        <%= form_for(@project, :html => { :multipart => true }) do |f| %>
          <p>
            <%= f.label :title %>
            <%= f.text_field :title, required: true %>
          </p>
          <p>
            <%= f.label :date %>
            <%= f.date_field :date, required: true %>
          </p>
          <p>
            <%= f.label :description %>
            <%= f.text_field :description %>
          </p>
          <p>
            <%= f.label :link %>
            <%= f.file_field :link%>
          </p>

            <button class="btn waves-effect waves-light #f06292 pink lighten-2" type="submit" name="action">Submit</button>
        <% end %>

      </div>
  </div>
</div>
