<%= form_for @project do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, required: true %>
  </p>
  <p>
    <%= f.label :date %>
    <%= f.text_field :date, required: true %>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.url_field :image %>
  </p>

  <p>
    <%= f.label :user_id %>
    <%= f.collection_select(:user_id, User.all, :id, :name) %>
  </p>
  <%= f.submit %>
<% end %>
