<!DOCTYPE html>
<html>
  <head>
    <title>DribbleApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav>
      <% if @current_user %>
        <%= link_to "Log Out", "/logout", method: :delete %>
        <%= link_to @current_user.email, user_path(@current_user) %>
        <%= link_to "Edit Profile", edit_user_path(@current_user) %>
      <% else %>
        <%= link_to "Sign in", "/login" %>
        <%= link_to "Sign up", "/users/new" %>
      <% end %>
   </nav>


    <!-- <nav>
     <div class="nav-wrapper">
       <a href="#" class="brand-logo">Dribble</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/users">All Designers</a></li>
         <li><a href="/users/new">New Designer</a></li>
         <li><a href="/projects">All Projects</a></li>
         <li><a href="/projects/new">New Project</a></li>
       </ul>
     </div>
   </nav> -->


    <%= yield %>


  </body>
</html>
