<!DOCTYPE html>
<html>
  <head>
    <title>DribbleApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>

    <nav>
      <div class="nav-wrapper" >
        <a href="/users" class="brand-logo">Dribble</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down" >
          <% if @current_user %>
              <li><a href="/users">All designers</a></li>
              <li><a href="/projects">All projects</a></li>
              <li><a href="/projects/new">New project</a></li>
              <li><%= link_to "Log Out", "/logout", method: :delete %></li>
              <li><a href= "user_path(@current_user)">Hi <%= @current_user.name %></a></li>

          <% else %>
              <li><a href="/login">Sign In</a></li>
              <li><a href="/users/new">Sign Up</a></li>
          <% end %>
        </ul>
      </div>
    </nav>

  </header>

  <main>
    <%= yield %>
  </main>


  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Show and tell for designers</h5>
          <p class="grey-text text-lighten-4">
                What are you working on? Dribbble is a community of designers sharing screenshots of their work, process, and projects.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
       © 2017 Dribble. All screenshots © their respective owners.
      </div>
    </div>
  </footer>


</body>
</html>
